{% extends 'Base_backend/base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block title %}
     Calendrier
{% endblock %}
{% block navbar %}

{% endblock %}
{% block content %}
        <div class="page-content-wrapper">
            <div class="page-content">
                <div class="page-bar">
                    <div class="page-title-breadcrumb">
                        <div class=" pull-left">
                            <div class="page-title">Calendrier</div>
                        </div>
                        <ol class="breadcrumb page-breadcrumb pull-right">
                            <li><i class="fa fa-home"></i>&nbsp;
                                <a class="parent-item"
                                   href="">Accueil</a>&nbsp;
                                <i class="fa fa-angle-right"></i>
                            </li>
                            <li class="active">Calendrier</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9 col-sm-12">
                         {% include '@FullCalendar/Calendar/calendar.html.twig' %}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block javascripts %}

{% endblock %}