{% extends 'basefront.html.twig' %}
{% block content %}
    <html>
    <head>

    </head>
    <body>
    <h1>faire la modification pour la note: </h1>
    <form method="post">
        Note 1: <input type="text" name="note1" value="{{ notes.note1 }}"></br>
        Note 2: <input type="text" name="note2" value="{{ notes.note2 }}"></br>
        Moyenne: <input type="text" name="moyenne" value="{{ notes.moyenne }}"></br>

        <input type="submit" value="modifier">
    </form>
    </body>

    </html>
{% endblock %}