{% extends "baseback.html.twig" %}
{% block container  %}

    <html>
    <head>

        <div class="row">
            <div class="col-sm-12">
                <div class="card-box">
                    <div class="card-head">
                        <header>Modifier la classe</header>
                        <button id="panel-button"
                                class="mdl-button mdl-js-button mdl-button--icon pull-right"
                                data-upgraded=",MaterialButton">
                            <i class="material-icons">more_vert</i>
                        </button>

                    </div>
                    <form method="post">

                        <div class="card-body row">
                            <div class="col-lg-6 p-t-20">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">

                                    <input class="mdl-textfield__input" name="libelle" type="text" value={{classe.libelle }}>

                                    <label class="mdl-textfield__label">Libellé</label>

                                </div>

                            </div>

                            <div class="col-lg-6 p-t-20">

                                <div
                                        class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                    Le nombre d'élèves :  <input class="mdl-textfield__input" name="Nombreeleve" type="text" value={{ classe.Nombreeleve }}>

                                </div>

                                <div class="col-lg-6 p-t-20">

                                    <div
                                            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width">
                                        Le numéro de la salle :  <input class="mdl-textfield__input" name="Numsalle" type="text" value={{classe.Numsalle}}>

                                    </div>


                                    <div>

                                        <button type="submit"
                                                class="btn btn-info m-r-20">Modifier</button>
                                    </div>





                                </div>
                            </div>
                        </div>
                    </form>
                </div></div></div>


    </html>





{% endblock %}


