{% extends "@Main/Default/index.html.twig" %}

{% block content %}

{% block body %}

    <center>
        <h2> Votre Evaluation a été processer avec Succés ! </h2>
        <a class="btn btn-primary" href="{{ path('afficherEvaluation') }}"> OK </a>
    </center>
    <br>

{% endblock %}
{% endblock %}
