{% extends 'Base_backend/base.html.twig' %}
{% block title %} Modifier le don {% endblock %}
{% block content %}
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <div class="page-title-breadcrumb">
                    <div class=" pull-left">
                        <div class="page-title">Modifier Don</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-box">
                        <div class="card-head">
                            <header>Modifier Don</header>
                        </div>
                        <div class="card-body row">
                            {{ form(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        $("#club").addClass("open active");
        $("#afficherdon").addClass("active");
    </script>
{% endblock %}